<a href="https://colab.research.google.com/github/Xilient/Python67/blob/main/Lab3_67015165.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 3

3.1 จากข้อมูลใน List ให้หาผลบวกเฉพาะตัวเลขคู่ โดยใช้ While Loop

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]

for i in list1:
  if i%2 == 0:
    print(i)

NameError: name 'a' is not defined

3.2 จากข้อมูลใน List ให้หาตัวเลขที่มีค่ามากที่สุดเป็นอันดับ 2 ใน List โดยใช้ While Loop

list = [-5, 7, 10, 1, 2, 5, 8, 100]

In [ ]:
lst = [-5, 7, 10, 1, 2, 5, 8, 100]
max_var = max(lst)
max_sec = 0

for i in lst:
    if i < max_var:
        if max_sec < i:
            max_sec = i

print(max_sec)

3.3 เขียนโปรแกรมรับค่า n แล้วคำนวณค่าต่อไปนี้

$1/1^2 + 1/2^2 + 1/3^2 + 1/4^2 + 1/5^2 + … +  1/n^2$

In [ ]:
n = int(input(""))
res = 0

for i in range(1, n+1):
    res += (1 / (i**2))

print(res)

3.4 จากข้อมูลใน List ให้ตรวจสอบว่า ข้อมูลในลิสต์ s เรียงลำดับจากน้อยไปมากหรือไม่ ตอบเป็น True, False

	[1,2,3,4,5], [5,4,3,2,1]

In [ ]:
lst = [[1,2,3,4,5], [5,4,3,2,1]]
res = [False, False]
for i,e in enumerate(lst):
    #print(i, e)
    for j in range(len(e)):
        if (j < len(e) - 1) and e[j] > e[j+1]:
            res[i] = False
            break
        else:
            res[i] = True

print(res)

3.5  ให้ x เป็นลิสต์เก็บคะแนน ต้องการปรับช่องที่มีค่าน้อยกว่า 30 ให้มีค่าเพิ่มอีก 10% แสดงผลลัพธ์ เป็น List

	x = [60, 70, 72, 65, 55, 43, 20, 90, 12]

In [ ]:
x = [60, 70, 72, 65, 55, 43, 20, 90, 12]

for i in range(len(x)):
    if x[i] < 30:
        x[i] = x[i] + (x[i] * 0.1)

print(x)

3.6 ต้องการหาผลรวมของคะแนนที่เก็บในลิสต์ x โดยขอไม่รวมคะแนนที่น้อยสุดอันดับ 2

	x = [15, 80, 75, 62, 55, 43, 99, 67, 10]

In [ ]:
x = [15, 80, 75, 62, 55, 43, 99, 67, 10]

min_var = min(x)
min_sec = 0
c = 0
res = 0

#Check Min-sec
for i in x:
    if c == 0:
        if i > min_var:
            min_sec = i
    c+=1

res = sum(x) - min_sec
print(res)

3.7 จากข้อมูลใน List ให้แสดง string ที่มีความยาวมากกว่า 2 และมีอักษรตัวแรกกับตัวสุดท้ายเหมือนกัน แสดงบรรทัดละ 1 ตัว

	lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']

In [ ]:
lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']
res = ''
for i in lst:
    if len(i) > 2:
        if i[0] == i[-1]:
            print(i)

3.8 จากข้อมูลใน List ให้ลบข้อมูลที่มีซ้ำกันให้เหลือเพียงตัวเดียว ให้แสดงผลเป็น list เช่น

[‘a’,’a’] => [‘a’]

lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']

In [ ]:
lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']


for i in lst:
    n = lst.count(i)
    if n > 1:
        for j in range(n-1):
            lst.remove(i)

print(lst)

3.9 จากข้อมูลใน List ให้แสดงว่าแต่ละข้อมูลใน List มีจำนวนเท่าไร คือ มีซ้ำกันกี่ตัวใน List  ให้แสดงบรรทัดละตัว เช่น

	[1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
	1 = 4
	2 = 3
	3 = 2
	4 = 1
  
	lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]

In [ ]:
lst = [1, 2, 3, 4, 5, 1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
check = []
res = ''


for i in lst:
    if i not in check:
        n = lst.count(i)
        res += str(i) + " = " + str(n) + '\n'
        check.append(i)

print(res)

1.	เขียนโปรแกรมเพื่อหาผลบวกของอนุกรม 5+10+15+20+… จนถึง n เมื่อ n เป็นตัวเลขที่รับเข้ามาทางคีย์บอร์ด

In [ ]:
n = int(input(''))
res = 0
for i in range(1, n+1):
    res = res + (5 * i)

print(res)

2.	จงเขียนโปรแกรมที่จะหาตัวเลขระหว่าง 2000-3200 ที่หารด้วย 7 ลงตัว แต่หารด้วย 5 ไม่ลงตัว
การแสดงผลให้แสดงตัวเลขและคั่นด้วยเครื่องหมาย , ในบรรทัดเดียว

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [ ]:
res = ''
for i in range(2000, 3201):
    if(i % 7 == 0 and i % 5 != 0):
        res += str(i) + ','

print(res[:-1])

3.	จากข้อมูลใน List ต้องการนับว่า มีข้อมูลกี่คู่ในลิสต์ที่ตัวทางซ้ายมีค่ามากกว่าตัวทางขวา (ไม่จำเป็นต้องอยู่ติดกัน)

x = [1, 5, 4, 2, 1]

In [ ]:
x = [1,5,4,2,1]
duo_n = 0
for i in range(len(x)):
    for j in range(i+1,len(x)):
        if x[i] > x[j]:
            duo_n += 1

print(duo_n)

4.	ให้ตรวจสอบว่า String ที่รับเข้ามาผ่านคีย์บอร์ด เป็นตัวอักษรพิมพ์เล็ก หรือตัวอักษรพิมพ์ใหญ่ อย่างละกี่ตัว ตอบ 2 บรรทัด พิมพ์เล็ก 1 บรรทัด พิมพ์ใหญ่ 1 บรรทัด

klfjslkgD;FGK;LSDKdl;gfk;
=> 18,3

In [ ]:
lower = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']
upper = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']

low_c = 0
upp_c = 0

input1 = 'klfjslkgD;FGK;LSDKdl;gfk;'
out = ''
for i in input1:
    out += i

for i1 in out:
    if i1 in lower:
        low_c += 1
    elif i1 in upper:
        upp_c += 1

print(f'Lower letter: {low_c} \nUpper letter: {upp_c}')

5.	จงเขียนโปรแกรมที่หาตัวเลขระหว่าง 1000 และ 3000 ที่ทุกหลักเป็นเลขคู่ (รวม 1000 และ 3000) โดยแสดงผลในรูปแบบตัวเลขคั่นด้วย comma

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

In [ ]:
res = ''
for i in range(1000, 3001):
    if(i % 2 == 0):
        res += str(i) + ','
print(res[:-1])

6.	ในคณิตศาสตร์ ตัวหารร่วมมาก หรือ ห.ร.ม. (greatest common divisor: gcd) ของจำนวนเต็มสองจำนวนซึ่งไม่เป็นศูนย์พร้อมกัน คือจำนวนเต็มที่มากที่สุดที่หารทั้งสองจำนวนลงตัว
จงหา ห.ร.ม. ของจำนวนเต็ม 2 จำนวนที่กำหนดให้
ข้อมูลนำเข้า
บรรทัดแรกเพียงบรรทัดเดียว ประกอบไปด้วยจำนวนเต็มบวกสองจำนวน a และ b มีค่าไม่เกิน 9999
ข้อมูลส่งออก
ในบรรทัดแรกของข้อมูลส่งออก ให้แสดงค่า ห.ร.ม. ของ a และ b
เช่น 	Input : 12 14		Output : 2
	Input : 7 3		Output : 1

678
345
=> 3

In [ ]:
n1 = 678; n2 = 345;

while n2 != 0:
    n1,n2,= n2, n1%n2

print(n1)

7.	จงเขียนโปรแกรมที่คำนวณค่าของ a+aa+aaa+aaaa เมื่อรับข้อมูลเป็นตัวเลข 1 หลัก

Input : 9

Output : 11106 (=9+99+999+9999)

In [ ]:
input1 = 9
output = ''
s1 = ''

if(input1 > 0 and input1 <= 9):
    for i in range(5):
        s1 += (str(input1) * i) + ' '

    n1,n2,n3,n4 = s1.split()
    res = int(n1) + int(n2) + int(n3) + int(n4)
    s1 = s1.replace(' ', '+')
    print(f'= {res} (={s1[1:-1]})')
else:
    print('Invalid')

8.	แปลงเลขโรมัน เป็นเลขอารบิก เช่น MMMDCCXXIV = 3724 (ค้นหาวิธีทางทางอินเตอร์เน็ต)

In [ ]:
in1 = 'MMMDCCXXIV'
res = 0
lst1 = ['I', 'V', 'X','L','C','D','M']
lst2 = ['IV', 'IX', 'XL', 'XC','CD', 'CM']

for i in in1:
    if i == lst1[0]:
        res += 1
    elif i == lst1[1]:
        res += 5
    elif i == lst1[2]:
        res += 10
    elif i == lst1[3]:
        res += 50
    elif i == lst1[4]:
        res += 100
    elif i == lst1[5]:
        res += 500
    elif i == lst1[6]:
        res += 1000

text =''
k = 0
while True:
    if len(text) != 2:
        c = in1.find(lst2[k])
        text += in1[c]
        k+=1
        if len(text) == 2:
            #print(text)
            if text == lst2[0]:
                res -= 6-4
            elif text == lst2[1]:
                res -= 11-9
            elif text == lst2[2]:
                res -= 60-40
            elif text == lst2[3]:
                res -= 110-90
            elif text == lst2[4]:
                res -= 600-400
            elif text == lst2[5]:
                res -= 1100-900
            break


print(res)

9.	อนุกรม Fibonacci คือ อนุกรมที่ตัวที่ 3 เป็นต้นไปเกิดจาก 2 ตัวหน้าบวกกัน จงเขียนโปรแกรมแสดงอนุกรม
เช่น ตั้งแต่ 0-1000 คือ 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987

In [ ]:
lst = [0, 1]
i = 0

while True:
    add = lst[i] + lst[i+1]
    if add > 1000:
        break
    lst.append(add)
    i += 1

print(lst)

10.	ให้สร้างโปรแกรม True Love โดยรับชื่อภาษาอังกฤษของ 2 คน จากนั้นค้นหาว่ามีตัวอักษรอยู่ในคำว่า True และ Love รวมกันกี่ตัว จากนั้นนำมาต่อกันเป็น % ตามรูป (ไม่ต้องแสดงเครื่องหมาย %)

In [ ]:
name1 = "Krystie Lee Yandoli".lower()
name2 = "Aubrey Drake Graham".lower()

sum1 = 0
sum2 = 0

lst1 = ['t', 'r', 'u', 'e']
lst2 = ['l', 'o','v','e']

for i in lst1:
    sum1 += name1.count(i)
    sum1 += name2.count(i)
for j in lst2:
    sum2 += name1.count(j)
    sum2 += name2.count(j)

print(str(sum1)+str(sum2))