<a href="https://colab.research.google.com/github/Xilient/Python67/blob/main/Lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

รหัสนักศึกษา : 67015165 ชื่อ : นายอัษฎาวุธ พระทอง

Exercise 5.1 ให้เขียน function ชื่อ day_of_year(day, month ,year) โดยมีการคืนค่า คือ day_of_years เป็นวันที่ลำดับที่เท่าใดของปีคริสตศักราช year
ปีที่เป็น Leap Year เดือนกุมภาพันธ์จะมี 29 วัน
ให้สร้างฟังก์ชัน is_leap เพื่อตรวจสอบ leap year แยกออกมา และให้ฟังก์ชัน day_of_year เรียกใช้ is_leap อีกที

In [ ]:
days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

def leap_year(year):
    if year % 100 == 0:
        if year % 400 == 0:
            return 1
    elif year % 4 == 0:
        return 1
    return 0

def day_of_year(day, month, year):
  pass

# Testcases
print("Normal year (2023):")
print(f"1 Jan 2023: {day_of_year(1, 1, 2023)}")  # ควรได้ 1
print(f"1 Feb 2023: {day_of_year(1, 2, 2023)}")  # ควรได้ 32
print(f"1 Mar 2023: {day_of_year(1, 3, 2023)}")  # ควรได้ 60
print(f"31 Dec 2023: {day_of_year(31, 12, 2023)}")  # ควรได้ 365

print("\nLeap year (2024):")
print(f"1 Jan 2024: {day_of_year(1, 1, 2024)}")  # ควรได้ 1
print(f"29 Feb 2024: {day_of_year(29, 2, 2024)}")  # ควรได้ 60
print(f"1 Mar 2024: {day_of_year(1, 3, 2024)}")  # ควรได้ 61
print(f"31 Dec 2024: {day_of_year(31, 12, 2024)}")  # ควรได้ 366

print("\nCentury year, not a leap year (1900):")
print(f"1 Mar 1900: {day_of_year(1, 3, 1900)}")  # ควรได้ 60

print("\nCentury year, leap year (2000):")
print(f"1 Mar 2000: {day_of_year(1, 3, 2000)}")  # ควรได้ 61

print("\nMid-year dates:")
print(f"15 Jun 2023: {day_of_year(15, 6, 2023)}")  # ควรได้ 166
print(f"15 Jun 2024: {day_of_year(15, 6, 2024)}")  # ควรได้ 167 (Leap year)

print("\nLast day of each quarter:")
print(f"31 Mar 2023: {day_of_year(31, 3, 2023)}")  # ควรได้ 90
print(f"30 Jun 2023: {day_of_year(30, 6, 2023)}")  # ควรได้ 181
print(f"30 Sep 2023: {day_of_year(30, 9, 2023)}")  # ควรได้ 273
print(f"31 Dec 2023: {day_of_year(31, 12, 2023)}")  # ควรได้ 365

Normal year (2023):
1 Jan 2023: None
1 Feb 2023: None
1 Mar 2023: None
31 Dec 2023: None

Leap year (2024):
1 Jan 2024: None
29 Feb 2024: None
1 Mar 2024: None
31 Dec 2024: None

Century year, not a leap year (1900):
1 Mar 1900: None

Century year, leap year (2000):
1 Mar 2000: None

Mid-year dates:
15 Jun 2023: None
15 Jun 2024: None

Last day of each quarter:
31 Mar 2023: None
30 Jun 2023: None
30 Sep 2023: None
31 Dec 2023: None

Exercise 5.2 ให้เขียนฟังก์ชัน เพิ่มเติมเป็น date_diff
รับข้อมูลในรูปแบบ “dd-mm-yyyy” เช่น date_diff(“1-1-2018”, “1-1-2020”) จะได้ 731 วัน date_diff(“25-12-1999”, “9-3-2000”) จะได้ 76 วัน
ให้เขียนฟังก์ชัน day_in_year โดยจะส่งค่าจำนวนวันของปี (365 หรือ 366) โดยรับข้อมูลเป็น ปี
ส่งคืนข้อมูลเป็นจำนวนวันตั้งแต่วันที่แรก จนถึงวันที่สอง โดยรวมทั้ง 2 วันนั้นเข้าไปด้วย
ให้สมมติว่าวันแรก จะต้องมาก่อนวันที่สองเสมอ ดังนั้นไม่ต้องตรวจสอบ

In [ ]:
def is_leap(year):
    pass

def day_of_year(day, month, year):
    pass

def day_in_year(year):
    return 366 if is_leap(year) else 365

def date_diff(date1, date2):
    pass

# ทดสอบฟังก์ชัน
print(date_diff("1-1-2018", "1-1-2020"))  # ควรได้ 731
print(date_diff("25-12-1999", "9-3-2000"))  # ควรได้ 76
print(date_diff("1-1-2000", "1-1-2001"))  # ควรได้ 367 (ปี 2000 เป็น leap year)
print(date_diff("1-1-2001", "1-1-2002"))  # ควรได้ 366 (ปี 2001 ไม่ใช่ leap year)
print(date_diff("1-3-2000", "1-3-2001"))  # ควรได้ 367 (ข้ามปี leap year)
print(date_diff("1-1-2023", "31-12-2023"))  # ควรได้ 365 (ทั้งปี 2023)

Exercise 5.3 จากโปรแกรม 5.2 ให้เขียนฟังก์ชัน date_diff  เพิ่มเติม โดยให้มีการตรวจสอบ
วันที่ต้องเป็นวันที่ถูกต้องของเดือนนั้นๆ
เดือนต้องอยู่ระหว่าง 1-12
เดือนกุมภาพันธ์ของปีที่มี Leap Year เท่านั้นที่จะมี 29 วันได้
หากข้อมูล Input ผิดพลาด ให้ Return -1

In [35]:
def is_leap(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

def day_in_month(month, year):
    if month in {4, 6, 9, 11}:
        return 30
    elif month == 2:
        return 29 if is_leap(year) else 28
    else:
        return 31

def day_of_year(day, month, year):
    days = day
    for m in range(1, month):
        days += day_in_month(m, year)
    for y in range(1, year):
        days += day_in_year(y)
    return days

def day_in_year(year):
    return 366 if is_leap(year) else 365

def date_to_days(day, month, year):
    # Calculate the total number of days up to the given date
    days = day
    for m in range(1, month):
        days += day_in_month(m, year)
    for y in range(1, year):
        days += day_in_year(y)
    return days

def validate_date(day, month, year):
    if month < 1 or month > 12:
        return False
    if day < 1 or day > day_in_month(month, year):
        return False
    return True

def date_diff(date1, date2):
    # Parse the dates from the format dd-mm-yyyy
    try:
        d1, m1, y1 = map(int, date1.split('-'))
        d2, m2, y2 = map(int, date2.split('-'))
    except ValueError:
        return -1

    # Validate the dates
    if not (validate_date(d1, m1, y1) and validate_date(d2, m2, y2)):
        return -1

    # Convert both dates to total days since 01-01-0001
    total_days1 = date_to_days(d1, m1, y1)
    total_days2 = date_to_days(d2, m2, y2)
    # print(total_days1 , total_days2)
    # Calculate the absolute difference
    return abs(total_days2 - total_days1) + 1


# ทดสอบฟังก์ชัน
print(date_diff("1-1-2018", "1-1-2020"))  # ควรได้ 731
print(date_diff("25-12-1999", "9-3-2000"))  # ควรได้ 76
print(date_diff("1-1-2000", "1-1-2001"))  # ควรได้ 367 (ปี 2000 เป็น leap year)
print(date_diff("1-1-2001", "1-1-2002"))  # ควรได้ 366 (ปี 2001 ไม่ใช่ leap year)
print(date_diff("1-3-2000", "1-3-2001"))  # ควรได้ 366 (ข้ามปี leap year)
print(date_diff("1-1-2023", "31-12-2023"))  # ควรได้ 365 (ทั้งปี 2023)

# ทดสอบกรณีข้อมูลไม่ถูกต้อง
print(date_diff("31-4-2023", "1-5-2023"))  # ควรได้ -1 (เดือนเมษายนมี 30 วัน)
print(date_diff("29-2-2023", "1-3-2023"))  # ควรได้ -1 (ปี 2023 ไม่ใช่ leap year)
print(date_diff("1-13-2023", "1-1-2024"))  # ควรได้ -1 (เดือนไม่ถูกต้อง)
print(date_diff("abc", "1-1-2024"))  # ควรได้ -1 (รูปแบบวันที่ไม่ถูกต้อง)

736695 737425
731
730113 730188
76
730120 730486
367
730486 730851
366
730180 730545
366
738521 738885
365
-1
-1
-1
-1

1.	ปลาหมอคางดำเพศเมีย 1 ตัว เมื่ออายุครบ 2 เดือน จะสามารถสืบพันธ์ได้ โดยระยะเวลาตั้งท้องจนถึง
วางไข่ของตัวเมียจะใช้เวลา 21 วัน และฟักในปากเพศผู้อีก 7 วัน (สามารถรวมเป็น 1 เดือนได้) โดยออกไข่ครั้งละ 300 ฟอง กำหนดให้ไข่ฟักเป็นเพศผู้และเพศเมียอย่างละครึ่ง และเมื่อวางไข่แล้วจะสามารถสืบพันธ์ต่อได้ทันที กำหนดให้ปลามีอายุ 5 ปี และปลาทั้งหมดจะตาย p% ทุก 1 เดือน จงหาว่าปลาหมอคางดำหลุดจากฟาร์ม n ตัวเป็นเพศผู้และเพศเมียอย่างละครึ่ง จงเขียนโปรแกรมรับค่า n และ p ให้แสดงผลจำนวนปลาทุก 3 เดือน เป็นเวลา 10 ปี ให้เขียนเป็นฟังก์ชัน ชื่อ simulate_fish_population()

In [ ]:
import math

def simulate_fish_population(n, p, months=3):



# Run simulation
n = 2  # Initial number of fish
p = 10  # Monthly mortality rate



simulate_fish_population(n, p)

# ถ้าเริ่มต้นด้วยปลา 2 ตัว ตายเดือนละ 10%
# เดือนที่ 1 ไข่ 300 ไบ
# เดือนที่ 2 ไข่ 300 ใบ + ลูกปลา 270 ตัว
# เดือนที่ 3 ไข่ 300 ใบ + ลูกปลา 270 ตัว + ปลาโตเต็มวัย 243 ตัว + 2 = 515 ตัว

In [ ]:
def simulate_fish_population(n, p):
    # Initial population: half male, half female
    male_fish = n // 2
    female_fish = n // 2

    # Convert p from percentage to a proportion
    p = p / 100

    # Simulation parameters
    months = 120  # 10 years * 12 months
    reproduction_cycle = 3  # Reproduction cycle in months

    # Simulate population over time
    for month in range(1, months + 1):
        # Reproduction every 3 months
        print(male_fish , female_fish)
        if month % reproduction_cycle == 0 and month >= 2:
            new_babies = female_fish * 300  # Each female lays 300 eggs
            new_males = new_babies // 2     # Half are males
            new_females = new_babies // 2   # Half are females

            male_fish += new_males
            female_fish += new_females
            print(male_fish , female_fish)
        # Death rate applied each month
        male_fish = int(male_fish * (1 - p))
        female_fish = int(female_fish * (1 - p))
        print(male_fish , female_fish)
        # Report population every 3 months
        if month % 3 == 0:
            total_population = male_fish + female_fish
            print(f"Month {month}: Males: {male_fish}, Females: {female_fish}, Total: {total_population}")

# Example usage
n = 2  # Starting with 100 fish (50 males and 50 females)
p = 10   # 10% death rate per month
simulate_fish_population(n, p)

1 1
0 0
0 0
0 0
0 0
0 0
0 0
Month 3: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 6: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 9: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 12: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 15: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 18: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 21: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 24: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 27: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 30: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 33: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 36: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 39: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 42: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 45: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 48: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 51: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 54: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 57: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 60: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 63: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 66: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 69: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 72: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 75: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 78: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 81: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 84: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 87: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 90: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 93: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 96: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 99: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 102: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 105: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 108: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 111: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 114: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 117: Males: 0, Females: 0, Total: 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Month 120: Males: 0, Females: 0, Total: 0

2.	ให้เขียน function find_mismatch ซึ่งรับ string มา 2 ค่า โดยจะส่งค่ากลับดังนี้
- 0 เมื่อ string ทั้ง 2 ตัว เหมือนกัน โดยไม่สนใจ case
- 1 เมื่อ string 1 จะเหมือน string 2 โดยการลบและ/หรือเพิ่มตัวอักษรเพียง 1 ตัว
- 2 เมื่อ string ไม่เข้าเกณฑ์ 0 หรือ 1


| String  1| 	String2	|ผลลัพธ์|
|----------|----------|------|
|Python|	Java	|2|
|book	 |  boot	|1|
|fan	 |  fun	  |1|
|sin	 | sink	  |1 เพราะเพิ่ม k ใน str2 แล้วจะเหมือนกัน
|Dog	 | dog	  |0
|poke	 | spoke	|1 เพิ่ม s ใน str2 แล้วเหมือนกัน
|poker |	poke	|1 ตัด r ใน str1 ออกแล้วเหมือนกัน

In [ ]:
def find_mismatch(str1, str2):
  pass

3.	จากข้อ 1 ให้เขียนฟังก์ชันชื่อ spelling_correction โดยรับ 2 argument ตัวแรกเป็นประโยค (string) และตัวที่ 2 เป็น list ของคำ (correct_spells) โดยฟังก์ชันนี้มีหน้าที่ตรวจสอบแต่ละ word ใน input string กับคำที่อยู่ใน correct_spells โดยค่าที่คืนกลับมาจะมีดังนี้ (พยายามเรียกใช้ฟังก์ชันในข้อ 1)
-	ถ้าคำที่อยู่ในประโยค ตรงกับคำที่อยู่ใน correct_spells ทุกอย่าง ก็จะ copy ไปที่ output string
-	ถ้าคำที่อยู่ในประโยค ต่างจากคำที่อยู่ใน correct_spells โดยต่างกัน 1 ตัวอักษร โดยการเปลี่ยน การเพิ่ม หรือการลบ 1 ตัวอักษร คำที่อยู่ในประโยคจะถูกเปลี่ยนโดยคำที่อยู่ใน correct_spells และนำไปใส่ output string
-	ถ้าคำที่ไม่พบในเงื่อนไขข้างต้นให้นำคำนั้นไปใส่ output string ได้เลย
-	คำที่ประกอบด้วย 1 หรือ 2 ตัวอักษรจะไม่ตรวจสอบ ให้นำคำนั้นไปใส่ output string ได้เลย
-	ถ้ามี 2 คำใน correct_spells ที่ตรงตามเงื่อนไข ให้ใช้คำแรก
-	ไม่สนใจตัวใหญ่ ตัวเล็ก
-	Input string จะมีได้เพียงอักษรภาษาอังกฤษเท่านั้น
-	ในแต่ละคำจะคั่นด้วย 1 space ถ้ามี space มากกว่านั้นให้ตัดออก และตัด space จากหัวท้ายประโยค

|ประโยค	|correct_spells	|output string |
|-------|---------------|-------------|
|Thes is the Firs cas	|[‘that’,’first’,’case’,’car’]|	thes is the first car|
|programming is fan and easy	|[‘programming’,’this’,’fun’,’easy’,book’]	|programming is fun and easy|
|Thes is vary essy	|[‘this’,’is’,’very’,’easy’]	|this is very easy|
|Wee ipve Pythen	|[‘we’,’live’,’ln’,’Python’]	|we live python|

In [ ]:
def spelling_correction(input_string, correct_spells):
  pass

4. ให้เขียนฟังก์ชัน find_word_horizontal ซึ่งจะรับ list ขนาด 2 มิติ ของตัวอักษร (คล้ายกับเกม cross word) และ word ซึ่งเป็น string เป็น argument โดยฟังก์ชันนี้ จะค้นหาตามแถวของ list เพื่อหาตำแหน่งที่มีอักษรตรงกับคำใน word ถ้าพบ จะส่งคืน row index และ column index ของตัวอักษรแรก ถ้าไม่พบจะส่งคืน None

```
crosswords=[['s','d','o','g'],
            ['c','u','c','m'],
            ['a','c','a','t'],
            ['t',' e','t','k']]
	word='cat'
	find_word_horizontal(crosswords,word)
```

Output
   [2,1]

In [ ]:
def find_word_horizontal(crosswords, word):
    pass

5. ให้เขียนฟังก์ชัน find_word_vertical ซึ่งจะรับ list ขนาด 2 มิติ ของตัวอักษร (คล้ายกับเกม cross word) และ word ซึ่งเป็น string เป็น argument โดยฟังก์ชันนี้ จะค้นหาตามคอลัมน์ของ list เพื่อหาตำแหน่งที่มีอักษรตรงกับคำใน word ถ้าพบ จะส่งคืน row index และ column index ของตัวอักษรแรก ถ้าไม่พบจะส่งคืน None

ตัวอย่าง
```
	crosswords=[['s','d','o','g'],
              ['c','u','c','m'],
              ['a','c','a','t'],
              ['t',' e','t','k']]
	word='cat'
	find_word_vertical(crosswords,word)
```

Output
   [1,0]

In [ ]:
def find_word_vertical(crosswords, word):
    pass

6.	ให้เขียนฟังก์ชัน capitalize_word_in_crossword จะรับ list ขนาด 2 มิติ ของตัวอักษร (คล้ายกับเกม cross word) และ word ซึ่งเป็น string เป็น argument โดยฟังก์ชันนี้ จะค้นหาตาม row และ column ของ list เพื่อหาตำแหน่งที่มีอักษรตรงกับคำใน word ถ้าพบจะเปลี่ยนเป็นตัวใหญ่และ และส่งคืน list ที่แก้ไขแล้ว แต่ถ้าไม่เจอจะส่ง list เดิมกลับมา ให้ใช้ฟังก์ชันตามข้อ 3 และ 4 ช่วย

```
crosswords=[['s','d','o','g'],
            ['c','u','c','m'],
            ['a','x','a','t'],
            ['t','e','t','k']]
word='cat'
capitalize_word_in_crossword(crosswords,word)
```
จะส่งค่ากลับ
```
 [['s','d','o','g'],
  ['C','u','c','m'],
  ['A','x','a','t'],
  ['T','e','t','k']]
```
```
crosswords=[['s','d','o','g'],
            ['c','u','c','m'],
            ['a','c','a','t'],
            ['t','e','t','k']]
word='cat'
capitalize_word_in_crossword(crosswords,word)
จะส่งค่ากลับ                   
[['s','d','o','g'],
 ['c','u','c','m'],
 ['a','C','A','T'],
 ['t','e','t','k']]
```

In [ ]:
def capitalize_word_in_crossword(crosswords, word):
    pass